.headerRight {
  background-color: rgb(47, 53, 75);
  display: flex;
  height: 70%;
  width: 3%;
  border-radius: 10px;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.headerRight img {
  height: 60%;
  width: auto;
  pointer-events: none;
}
