.sectionContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(240px, 1fr));
  gap: 15px;
  align-items: start;
  grid-auto-rows: 1fr;
}

h1 {
  color: var(--cardnamecolor);
}

.labelContainer {
  margin: 30px 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 900px) {
  .sectionContainer {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 12px;
    padding: 0 20px;
  }

  .card {
    padding: 8px;
  }

  .cardText h2 {
    font-size: 18px;
  }

  .cardText p {
    font-size: 14px;
  }
}
